body {
  background-color: #232323;
}

.Excision {
  background-color: #433434;
}

.exc-head {
  text-align: center;
  padding-bottom: 1vh;
}

.exc-h1 {
  color: #888888;
  font-size: clamp(3rem, 3rem, 3rem);
}

.exc-h2 {
  color: #777777;
  font-size: clamp(1.5rem, 1.5rem, 1.5rem);
}

.exc-info {
  background-color: #533535;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.exc-text {
  font-size: clamp(1.25rem, 1.25rem, 1.25rem);
  color: #757575;
}

ul.exc-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.exc-inline li {
  display: inline;
}

ul.exc-inline li::after {
  content: " - ";
}

ul.exc-inline li:first-child::before {
  content: " - ";
}